html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a,
.btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}

/*########################################################################################################################*/
/*########################################################################################################################*/
/* MY CSS GANADAPP ERP */


/* 游꿛 Colores base @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
:root {
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Open Sans', sans-serif;

    --naranja: #ff7b00;
    --naranja-oscuro: #e06900;
    --blanco: #ffffff;
    --gris: #f5f5f5;
    --gris2: #c4c4c4;
    --dark: #1f1f1f;
    --texto: #333333;
    --nav: #2e2e2e;
}

/*########################################################################################################################*/
/* VISTA VIENVENIDA  */

.all-container {
    width: 100%;
    max-width: 2200px;
    min-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    transform-origin: top center;
    scroll-behavior: smooth;
}



/*Header*/
.welcome-header {
    background-color: var(--blanco);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.welcome-header .logo {
    font-family: var(--font-title);
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--naranja);
    margin: 0;
}

.welcome-header nav .btn-header {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: var(--naranja);
    color: var(--blanco);
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: var(--font-body);
}

.welcome-header nav .btn-header:hover {
    background-color: var(--naranja-oscuro);
}

.welcome-header nav .btn-outline {
    background-color: transparent;
    border: 2px solid var(--naranja);
    color: var(--naranja);
}

.welcome-header nav .btn-outline:hover {
    background-color: var(--naranja);
    color: var(--blanco);
}

/* Secci칩n Info Hero*/
.welcome-hero {
    background: linear-gradient(135deg, var(--naranja), var(--naranja-oscuro));
    color: var(--blanco);
    padding: 5rem 1rem;
    font-family: var(--font-body);
}

.welcome-hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--font-title);
    font-weight: 700;
}

.welcome-hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.container-imagenpromo {
    background-image: url('/images/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanco);
    padding: 100px 20px;
    text-align: center;
    position: relative;
    font-family: var(--font-body);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-imagenpromo .container h2 {
    font-family: var(--font-title);
    font-size: 50px;
    font-weight: 800;
    color: var(--naranja-oscuro);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/*Seccion Info Heramientas*/
.container-herramientas {
    margin: 3rem;
}

.container-herramientas svg {
    margin: 5rem;
}

.container-herramientas img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/*Footer Bienvenida*/
.welcome-footer {
    font-family: var(--font-body);
    background-color: var(--gris);
    padding: 1rem 0;
    font-size: 0.9rem;
    color: var(--texto);
}

.container-footer {
    display: flex;
}

.container-footer .iz {
    width: 60%;
    text-align: left;
}

.container-footer .de {
    width: 40%;
    text-align: right;
}

.welcome-footer p {
    margin: 0.3rem;
}

/*Responsive Bienvenida*/
@media (max-width: 768px) {
    .welcome-header .container {
        flex-direction: column;
    }

    .welcome-header nav {
        margin-top: 1rem;
    }

    .welcome-hero h2 {
        font-size: 1.8rem;
    }

    .welcome-footer {
        font-size: 10px;
    }

    .welcome-header .logo {
        margin-bottom: 2rem;
    }

    .container-footer .iz {
        width: 100%;
        text-align: left;
    }

    .container-footer .de {
        width: 100%;
        text-align: left;
    }

    .container-herramientas img {
        width: 300px;
        height: 300px;
    }

    .container-footer {
        flex-direction: column-reverse;
    }
}

@media (max-width: 850px) {
    .container-herramientas img {
        width: 200px;
        height: 200px;
        transform: scale(1.05);
    }
}

/* FIN VISTA VIENVENIDA */


/*########################################################################################################################*/
/* !FONDO ANIMADO DE LOGIN/REGISTRO  */

.auth-container {
    position: relative;
    min-height: 100vh;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.auth-container .auth-card {
    position: relative;
    color: var(--blanco);
    text-align: center;
    z-index: 2;
}


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 1;
    fill: var(--gris2);
}

.wave path {
    animation: waveAnim 6s ease-in-out infinite alternate;
}

@keyframes waveAnim {
    0% {
        d: path("M0,160 C480,240 960,80 1440,160 L1440,320 L0,320 Z");
    }

    100% {
        d: path("M0,140 C480,100 960,200 1440,120 L1440,320 L0,320 Z");
    }
}

/*########################################################################################################################*/
/* VISTA LOGIN/REGISTRO  */

/*Targe Contenedora*/
.auth-card {
    background: var(--blanco);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    min-height: 500px;
    justify-items: center;
    align-content: center;
}

.auth-card span {
    color: var(--texto);
    font-family: var(--font-body);
}

.auth-card a {
    color: var(--naranja-oscuro);
    font-family: var(--font-body);
    font-weight: 800;
}

.card-input {
    min-width: 400px;
}

.card-input label {
    font-family: var(--font-body);
    color: var(--texto);
    font-weight: 700;
}

.auth-card h2 {
    font-weight: 700;
    font-family: var(--font-title);
    color: var(--naranja);
}

/*Inputs*/
.auth-card .form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: var(--font-title);
}

/*Botones*/
.auth-card .btn-primary {
    background-color: var(--naranja);
    font-family: var(--font-body);
    border: none;
    font-weight: 600;
}

.auth-card .btn-primary:hover {
    background-color: var(--naranja-oscuro);
}

/*########################################################################################################################*/
/* VISTAS DASHBOARD @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* VISTA HOME DASBOARD  */

/*Encabezado principal*/
.main-header {
    background: var(--naranja);
    color: var(--texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
}

.main-header a {
    color: var(--blanco) !important;
}

.main-header .logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.main-header .logo span {
    font-weight: normal;
    color: var(--dark);
}

.top-nav a {
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.top-nav a:hover {
    transform: scale(1.05);
}

/*Layout Principal Vistas Home*/
.layout {
    display: flex;
    flex: 1;
    min-height: 0;
}

/*Barra lateral Opciones Vistas*/
.sidebar {
    width: 220px;
    min-height: 87vh; /*游릴 tama침o barra*/
    background: var(--nav);
    color: var(--blanco);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    overflow-y: auto;
}

.sidebar nav ul {
    list-style: none;
    flex: 1;
}

.sidebar nav ul li {
    margin: 0 2rem 1rem 0;
    border-radius: 10px;
}

.sidebar nav ul li:hover {
    background-color: var(--dark);
}

.sidebar nav ul li a {
    display: block;
    padding: 0.8rem 1rem;
    color: var(--blanco);
    text-decoration: none;
    transition: background 0.2s;
    font-family: var(--font-body);
    border-radius: 10px;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background: var(--dark);
}

/* CONTENEDOR DE VISTAS DEL LAYOUT */
.main-content {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.main-content h1 {
    margin-bottom: 0.5rem;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
.main-footer {
    background: var(--dark);
    color: var(--blanco);
    text-align: center;
    padding: 0.8rem;/*游릴*/
    font-size: 0.9rem;
    flex-shrink: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        min-height: 0;
        flex-direction: row;
        overflow-x: auto;
        height: auto;
    }

    .sidebar nav ul {
        display: flex;
    }

    .sidebar nav ul li {
        margin-bottom: 0;
        flex: 1;
    }

    .sidebar nav ul li a {
        text-align: center;
    }
}

/* VISTAS PAGINAS DASHBOARD @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* VISTA HOME  */

.auth-container2 {
    position: relative;
    min-height: 100%;
    padding: 0;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.auth-card2 {
    width: 100%;
    height: 80vh;
    z-index: 2;
    padding: 1rem;
}
