@page "/inicio"
<PageTitle>Inicio</PageTitle>

<div class="auth-container2">
    <div class="auth-card2">
        <h1 class="main-titles">Bienvenido al Panel de Control</h1>
        <p class="module-descriptions">Aquí se mostrarán estadísticas, accesos rápidos y módulos del ERP.</p>

        <div class="dashboard-cards">
            <div class="card">
            <h3>Inventario</h3>
            <p>Gestión de productos, stock y categorías.</p>
            </div>
            <div class="card">
            <h3>Ventas</h3>
            <p>Registra y gestiona tus ventas.</p>
            </div>
            <div class="card">
            <h3>Usuarios</h3>
            <p>Administra usuarios y roles.</p>
            </div>
        </div>
    </div>
    <svg class="wave" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path d="M0,160 C480,240 960,80 1440,160 L1440,320 L0,320 Z"></path>
    </svg>
</div>