@page "/home"
@layout MainLayout
@using ERP.Blazor.Pages.HomePages

@inject NavigationManager Nav
@inject ERP.Blazor.Services.SesionService SesionService

<PageTitle>Home</PageTitle>

<div class="dashboard">
    @if (sesionVerificada)
    {
        @if (seccionActual == "inicio")
        {
            <Inicio />
        }
        else if (seccionActual == "usuarios")
        {
            <Inventario />
        }
    }
    else
    {
        <div class="text-center mt-5">
            <h3>No tienes una sesión activa.</h3>
            <p>Serás redirigido a la página de inicio...</p>
        </div>
        <!-- Modal centrado -->
        <div class="modal-nosesion">
            <div class="nosesion-container">
                <h2>Sesión no activa</h2>
                <p>Para acceder al panel debes iniciar sesión primero.</p>
                <button class="btn-modal" @onclick="VolverABienvenida">Volver</button>
            </div>
        </div>
    }
</div>

@code {
    private string seccionActual;
    private bool sesionVerificada = false;

    protected override async Task OnInitializedAsync()
    {
        var haySesion = await SesionService.HaySesionAsync();

        if (!haySesion)
        {
            sesionVerificada = false;
        }
        else
        {
            sesionVerificada = true;
            seccionActual = "inicio";
        }
    }

    private void VolverABienvenida()
    {
        Nav.NavigateTo("/", forceLoad: true);
    }

    public void CambiarSeccion(string nombre)
    {
        seccionActual = nombre;
        StateHasChanged();
    }
}