@page "/home"
@layout MainLayout

<PageTitle>Home</PageTitle>

<div class="dashboard">
    @if (seccionActual == "inicio")
    {
        <Inicio />
    }
    else if (seccionActual == "ventas")
    {
        <Ventas />
    }
    else if (seccionActual == "usuarios")
    {
        <Usuarios />
    }
</div>

@code {
    private string seccionActual = "inicio";

    public void CambiarSeccion(string nombre)
    {
        seccionActual = nombre;
    }
}